/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  width: 100%
}

td {
  text-align: center;
}

.alert {
  padding: .75rem 1.25rem;
}

.alert-notice {
  background-color: rgb(223, 240, 216);
  border-color: rgb(208, 233, 198);
  color: rgb(60, 118, 61);
}

.alert-alert {
  background-color: rgb(242, 222, 222);
  border-color: rgb(235, 204, 204);
  color: rgb(169, 68, 66);
}

.order__status--unfulfiled {
  color: grey;
}
